$color-text:white;
$color-text_2:rgb(69, 194, 69);




@font-face {
    font-family: "Montserrat-Black";
    src: url("./fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("./fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}



html,
body {
    width: 100%;
    height: 100%;
}


#main {
    background-image: url("./images/portrait-dark-light-man-face.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;

    .navbar {
        background: rgba(0, 0, 0, 0.514);
        height: 15%;

        .navbar-toggler {
            background: $color-text;
        }

        .navbar-brand {
            span {
                color: rgb(69, 194, 69);
                font-family: "Montserrat-Black";
            }

            font-family: "Montserrat-Regular";
            font-size: 200%;
            color: $color-text;
            text-transform: uppercase;
            margin-left: 5%;
        }

        .navbar-nav {
            margin-left: 20%;

            .nav-item {
                font-family: "Montserrat-Bold";
                color: $color-text;
                text-transform: uppercase;
            }
        }
    }

    #images {
        .column {
            margin-left: 5%;
            margin-top: 7%;

            p {
                color: $color-text;
                font-family: "Montserrat-Regular";
                text-transform: uppercase;
                font-size: 150%;
            }
        }
    }

    #text {
        margin-top: 10%;

        h2 {
            font-family: "Montserrat-Light";
            color: $color-text;
            text-transform: uppercase;
            margin-left: 6%;
            font-size: 250%;
        }

        h3 {
            font-family: "Montserrat-Bold";
            color: $color-text;
            border: 5px solid rgb(69, 194, 69);
            width: 42%;
            text-transform: uppercase;
            margin-left: 6%;
            font-size: 180%;
        }

    }
}


#footer {
    background-size: cover;
    width: auto;
    height: auto;

    .row {
        width: auto;
        height: auto;

        #part_1 {
            width: 64%;
            height: auto;
            background: blue;
            background-size: cover;

            .row {


                .form-group {
                    margin-left: 3%;
                    margin-top: 1%;

                    label {
                        font-family: "Montserrat-Regular";
                        color: $color-text;
                        text-transform: uppercase;
                    }

                    input {
                        font-family: "Montserrat-Light";
                    }

                    select {
                        background: $color-text_2;
                        color: white;
                        font-family: "Montserrat-Light";
                    }
                }

            }
        }

        #part_2 {
            background: rgba(10, 10, 102, 0.966);
            background-size: cover;
            width: 36%;

            button {
                margin-left: 10%;
                margin-top: 2.5%;
                width: 80%;
                height: 70%;
                border-radius: 20px 20px 20px 20px;
                background: $color-text_2;
                color: $color-text;
                text-transform: uppercase;
                font-family: "Montserrat-Black";
                font-size: 130%;
            }
        }
    }
}

@media (min-width:360px) and (max-width:810px) {
    #main {
        .navbar {
            #navbarNavAltMarkup {
                background-color: red;
            }
        }

        #images {
            margin-top: 20%;

            .column {
                p {
                    font-size: 105%;
                }
            }
        }

        #text {
            margin-top: 60%;

            h2 {
                font-size: 170%;
            }

            h3 {
                width: 90%;
                font-size: 100%;
            }
        }
    }

    #footer {
        .row {
            #part_1 {
                .form-group {
                    margin-left: 0%;

                    select {
                        margin-left: 12%;
                    }

                    label {
                        margin-left: 15%;
                    }

                    input {
                        width: 97%;
                        margin-left: 5%;
                    }
                }
            }

            #part_2 {
                button {
                    margin-top: 35%;
                }
            }
        }
    }
}


@media (min-width:768px) and (max-width:1023px) {
    #main {
        #images {
            .column {
                p {
                    font-size: 200%;

                    img {
                        width: 7%;
                    }
                }
            }
        }

        #text {
            margin-top: 40%;

            h2 {
                font-size: 250%;
            }

            h3 {
                width: 67%;
                font-size: 160%;
            }
        }
    }

    #footer {
        .row {
            #part_2 {
                button {
                    margin-top: 10%;
                }
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1365px) {
    #main {
        width: 115%;
        height: 80%;
        background-size: cover;

        #images {
            .column {
                p {
                    font-size: 250%;

                    img {
                        width: 5%;
                    }
                }
            }
        }

        #text {
            margin-top: 30%;

            h3 {
                width: 50%;
            }
        }

        .navbar {
            .navbar-nav {
                margin-left: 10%;

                .nav-item {
                    font-size: 91.5%;
                }
            }
        }
    }

    #footer {
        width: 115%;

        .row {
            #part_1 {
                .row {
                    .form-group {
                        input {
                            width: 97%;
                            margin-left: 0%;
                        }
                    }
                }
            }

            #part_2 {
                button {
                    margin-top: 6%;
                }
            }
        }
    }
}

@media (min-width:1920px) {
    #main {
        .navbar {
            .navbar-nav {
                margin-left: 40%;
            }
        }

        #images {
            .column {
                p {
                    font-size: 220%;

                    img {
                        width: 2%;
                    }
                }
            }
        }

        #text {

            h3 {
                width: 30%;
            }
        }
    }

    #footer {
        .row {
            #part_1 {
                width: 55%;

                .row {
                    margin-left: 5%;
                }
            }

            #part_2 {
                width: 45%;

                button {
                    margin-top: 1.6%;
                }
            }
        }
    }
}